@using PetShelter.Data
<div class="col-md-6 col-lg-3 mb-4">
    <div class="card">
        <div class="card-block">
            <img class="card-img-top img-fluid" src="@Pet.Picture" alt="Cool pet" style="width: 100%; height: 15vw; object-fit: cover">
            <div class="card-body">
                <h5 class="card-title">@Pet.Name</h5>
                <p class="card-text">@Pet.Description</p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Animal: @Pet.Type</li>
                    <li class="list-group-item">Breed: @Pet.Breed</li>
                    <li class="list-group-item">
                        Age: @Pet.Age @AgeToShow
                    </li>
                    <li class="list-group-item">Status: @Status</li>

                </ul>
            </div>
        </div>


    </div>
</div>

@code {

    [Parameter]
    public Pet Pet { get; set; }

    [Parameter]
    public Status Status { get; set; }

    public string? AgeToShow;

    protected override void OnInitialized()
    {
        AgeToShow = Pet.Age switch
        {
            null => "Unknown",
            > 1 => "years",
            _ => "year"
            };
    }

}